@import "tailwindcss";

@theme {
  --color-pnc-white: #FDFFFE;
  --color-pnc-red: #B70F06;
  --color-pnc-yellow: #FEC514;
  --color-pnc-blue: #004AAD;

  --font-family-lilita-one: 'LilitaOne', sans-serif;
  --font-family-montserrat: 'Montserrat', sans-serif;
  --font-family-opensans: 'OpenSans', sans-serif;
}

@font-face {
  font-family: 'LilitaOne';
  src: url('/fonts/LilitaOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/OpenSans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}